## Vine Reviews Analysis

In [1]:
import pandas as pd

In [4]:
# Read in the vine_table.csv file as a DataFrame, and perform your analysis using the steps above.
vine_table_df = pd.read_csv('vine_table.csv')
vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
904760,R6MDTUK723YPY,4.0,143.0,148.0,N,N
904761,R10B4417NCK98O,5.0,24.0,24.0,N,N
904762,R3V2A0GUZ3JAQ4,4.0,27.0,29.0,N,N
904763,R1VYXC7FFG4LGH,4.0,46.0,49.0,N,N
904764,R2XJJXFZOM36V5,5.0,17.0,19.0,N,N

In [5]:
# explore DataFrame
vine_table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 904765 entries, 0 to 904764
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   review_id          904765 non-null  object
 1   star_rating        904763 non-null  float64
 2   helpful_votes      904763 non-null  float64
 3   total_votes        904763 non-null  float64
 4   vine               904763 non-null  object
 5   verified_purchase  904763 non-null  object
dtypes: float64(3), object(3)
memory usage: 41.4+ MB